<main>
  <div class="header-actions">
    <span class="start">
      <back></back>
    </span>
    <span class="end">
      <!-- <button mat-icon-button><mat-icon>people_outline</mat-icon></button>
      <button mat-icon-button><mat-icon>call_split</mat-icon></button>
      <button mat-icon-button><mat-icon>mark_email_read</mat-icon></button>
      <button mat-icon-button><mat-icon>info_outline</mat-icon></button> -->
    </span>
  </div>
  <section class="flow">
    <div class="mat-caption" style="color: #444; margin-bottom: 1em">
      <b class="flow-header-entity">{{ flow.senderText() }}</b> à
      <b class="flow-header-entity">{{ flow.owner.short }}</b>
      (Réf: {{ project.reference }})
    </div>
  </section>
  <article>
    <h1 style="font-weight: 300; margin-bottom: 0" class="mat-display-1">
      {{ project.title }}
    </h1>
  </article>
  <mat-chip-list aria-label="File list">
    <mat-chip *ngFor="let file of flow.files">{{ file.name }}</mat-chip>
  </mat-chip-list>

  <pdf-viewer
    src="https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf"
  ></pdf-viewer>

  <!-- <flow-list></flow-list> -->
</main>
