@import "~@angular/material/theming";
@include mat-core();

:host {
  display: flex;
  flex-direction: column;

  main {
    padding: 1rem;

    .header-actions {
      // background-color: mat-color($mat-pink, A100);
      display: flex;
      color: #666;
    }

    .flow,
    article {
      padding-left: 2rem;
    }
  }
}
