<section class="page_404" fxLayout="column" fxLayoutAlign="center center">
  <div
    style="text-align: center"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="four_zero_four_bg">
      <h1 style="text-align: center">404</h1>
    </div>

    <div class="contant_box_404">
      <h3 class="h2">Perdu?</h3>

      <p>La page que vous recherchez n'est pas disponible!</p>

      <a mat-raised-button routerLink="/">Retour à la page d'accueil</a>
    </div>
  </div>
</section>
