:host {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  .users {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    user {
      flex: 1 1 auto;
    }
  }
}
