<mat-form-field appearance="outline">
  <mat-label> <mat-icon>refresh</mat-icon>Ancien Mot de Passe</mat-label>
  <input matInput type="password" name="password" id="password" />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label> <mat-icon>lock</mat-icon> Nouveau Mot de Passe</mat-label>
  <input matInput type="password" name="password" id="password" />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>
    <mat-icon>lock</mat-icon> Confirmez nouveau mot de passe</mat-label
  >
  <input #confirm matInput required type="password" id="confirm" />
</mat-form-field>
<div>
  <button mat-button>
    <mat-icon>lock</mat-icon> Reinitialiser mon Mot de Passe
  </button>
</div>
