main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
      margin: 5em 0 5em 0;
			width: 400px;
      .header {
        img{
          width: 350px;
        }
        display: flex;
        flex-direction: column;
				justify-content: center;
				align-items: center;
      }
      form {
        display: flex;
        flex-direction: column;
				.actions{
					display: flex;
					justify-content: space-between;
				}
      }
    }
  }
}
