<mat-form-field [appearance]="appearance">
  <mat-label><mat-icon>domain</mat-icon> {{ label }} </mat-label>
  <input
    type="text"
    (keypress)="resetSelection($event)"
    (keyup)="_filter($event)"
    aria-label="entity"
    matInput
    minlength="2"
    required
    [(ngModel)]="entity.short"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let e of filteredOptions"
      (click)="select(e)"
      [value]="e.short"
    >
      {{ e.short_header }}
    </mat-option>
  </mat-autocomplete>

  <mat-hint align="end">{{ entity.short_header }}</mat-hint>
  <mat-hint
    *ngIf="!entity.id && must_select_entity"
    align="start"
    style="color: #f44336"
  >
    Sélectionnez l'une des options
  </mat-hint>
</mat-form-field>
