<mat-form-field class="example-full-width" appearance="outline">
  <mat-label><mat-icon>home_work</mat-icon> {{label}} </mat-label>
  <input
    type="text"
    (keypress)="resetSelection()"
    (keyup)="_filter()"
    (blur)="_blur.emit(query)"
    aria-label="entity"
    matInput
    required
    [(ngModel)]="query"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      (click)="selectedEntity = entity; entitySelected.emit(entity)"
      *ngFor="let entity of filteredOptions"
      [value]="entity.short"
    >
      {{ entity.short_header }}
    </mat-option>
  </mat-autocomplete>

  <mat-hint align="end">{{ selectedEntity.short_header }}</mat-hint>
  <mat-hint *ngIf="!selectedEntity.id && must_select_entity" align="start" style="color:#f44336"> Sélectionnez l'une des options </mat-hint>
</mat-form-field>
