<mat-card>
  <mat-card-header fxLayoutAlign="center">
    <div
      mat-card-avatar
      class="avatar"
      style="background-size: cover"
      [style.background-image]="'url(/assets/app-images/user.png)'"
    ></div>
    <mat-card-title>
      {{ user.firstname }}
      {{ user.lastname }}
    </mat-card-title>
    <mat-card-subtitle
      >{{ user.title }} -
      <span class="short-header">{{
        user.entity.short_header
      }}</span></mat-card-subtitle
    >
  </mat-card-header>
  <!-- <mat-card-content>
    <div class="entity" fxFlex fxLayoutGap="1rem" fxLayoutAlign="center center">
      <mat-icon>domain</mat-icon> <span>{{ user.entity.short_header }}</span>
    </div>
  </mat-card-content> -->
  <mat-card-actions fxLayoutAlign="center">
    <button mat-icon-button color="primary">
      <mat-icon>mail_outline</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon>chat_bubble_outlined</mat-icon>
    </button>
    <!-- <button *ngIf="!user.verified" mat-icon-button (click)="verify()"> -->
    <button mat-icon-button *ngIf="!user.verified" (click)="user.verify()">
      <mat-icon class="green">how_to_reg</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!user.active" (click)="user.activate()">
      <mat-icon class="green">arrow_circle_up</mat-icon>
    </button>
    <button mat-icon-button *ngIf="user.active" (click)="user.desactivate()">
      <mat-icon color="warn">remove_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="transfer()">
      <mat-icon color="warn">change_circle</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
