<nav>
  <section>
    <a class="nav-link" [routerLink]="Link.APPS_ROOT" routerLinkActive="active">
      <div title="Applications" matTooltipPosition="right">
        <mat-icon>apps</mat-icon>
      </div>
    </a>

    <!-- inbox -->
    <a
      class="nav-link"
      [routerLink]="Link.FLOWS_INBOX"
      routerLinkActive="active"
      title="Boite"
    >
      <div matTooltip="Boite de Réception" matTooltipPosition="right">
        <mat-icon>inbox</mat-icon>
      </div>
    </a>

    <!-- sent flows -->
    <a
      class="nav-link"
      [routerLink]="Link.FLOWS_SENT"
      title="Envoyés"
      routerLinkActive="active"
    >
      <div matTooltip="Envoyés" matTooltipPosition="right">
        <mat-icon>send</mat-icon>
      </div>
    </a>

    <!-- entity page -->
    <a class="nav-link" [routerLink]="Link.ENTITY" routerLinkActive="active">
      <div>
        <mat-icon>domain</mat-icon>
      </div>
    </a>

    <!-- dashboard? -->
    <!-- <a
      class="nav-link"
      [routerLink]="Link.DASHBOARD_APP"
      routerLinkActive="active"
    >
      <div>
        <mat-icon>bar_chart</mat-icon>
      </div>
    </a> -->
  </section>

  <section>
    <a class="nav-link small-height-hidden">
      <div>
        <mat-icon>info_outline</mat-icon>
      </div>
    </a>
    <a class="nav-link" [routerLink]="Link.CHAT_APP" routerLinkActive="active">
      <div>
        <mat-icon>chat_bubble_outline</mat-icon>
      </div> </a
    ><a class="nav-link" [routerLink]="Link.USER" routerLinkActive="active">
      <div>
        <mat-icon>account_circle_outline</mat-icon>
      </div>
    </a>
    <a class="nav-link" [routerLink]="Link.SETTINGS" routerLinkActive="active">
      <div>
        <mat-icon>settings_outlined</mat-icon>
      </div>
    </a>
    <a class="nav-link" title="Se deconnecter" (click)="userService.logout()">
      <div>
        <mat-icon>logout</mat-icon>
      </div>
    </a>
  </section>
</nav>
<div class="nav-holder"></div>
<main>
  <router-outlet></router-outlet>
</main>
