<nav>
  <section>
    <a class="nav-link" [routerLink]="Link.APPS_ROOT" routerLinkActive="active">
      <div matTooltip="Boite de Réception" matTooltipPosition="right">
        <mat-icon>apps</mat-icon>
      </div>
    </a>

    <a
      class="nav-link"
      [routerLink]="Link.FLOWS_INBOX"
      routerLinkActive="active"
    >
      <div matTooltip="Boite de Réception" matTooltipPosition="right">
        <mat-icon>inbox</mat-icon>
      </div>
    </a>
    <a
      class="nav-link"
      [routerLink]="Link.FLOWS_SENT"
      routerLinkActive="active"
    >
      <div matTooltip="Envoyés" matTooltipPosition="right">
        <mat-icon>send</mat-icon>
      </div>
    </a>

    <a
      class="nav-link small-height-hidden"
      [routerLink]="Link.USERS"
      routerLinkActive="active"
    >
      <div>
        <mat-icon>people_outline</mat-icon>
      </div>
    </a>
    <a class="nav-link" [routerLink]="Link.ENTITIES" routerLinkActive="active">
      <div>
        <mat-icon>domain</mat-icon>
      </div>
    </a>
    <a class="nav-link" [routerLink]="Link.ENTITY" routerLinkActive="active">
      <div>
        <mat-icon>work_outline</mat-icon>
      </div>
    </a>
    <a
      class="nav-link"
      [routerLink]="Link.DASHBOARD_APP"
      routerLinkActive="active"
    >
      <div>
        <mat-icon>bar_chart</mat-icon>
      </div>
    </a>
    <a class="nav-link" [routerLink]="Link.SEARCH_APP">
      <div>
        <mat-icon>manage_search</mat-icon>
      </div>
    </a>
  </section>

  <section>
    <a class="nav-link small-height-hidden">
      <div>
        <mat-icon>info_outline</mat-icon>
      </div>
    </a>
    <a class="nav-link" [routerLink]="Link.CHAT_APP" routerLinkActive="active">
      <div>
        <mat-icon>chat_bubble_outline</mat-icon>
      </div> </a
    ><a class="nav-link" [routerLink]="Link.USER" routerLinkActive="active">
      <div>
        <mat-icon>account_circle_outline</mat-icon>
      </div>
    </a>
    <a class="nav-link" [routerLink]="Link.SETTINGS" routerLinkActive="active">
      <div>
        <mat-icon>settings_outlined</mat-icon>
      </div>
    </a>
    <a class="nav-link" (click)="userService.logout()">
      <div>
        <mat-icon>logout</mat-icon>
      </div>
    </a>
  </section>
</nav>
<div class="nav-holder"></div>
<main>
  <router-outlet></router-outlet>
</main>
