@import "~src/_variables";

@media screen and (max-height: 39rem) {
  .small-height-hidden {
    display: none;
  }
}

:host {
  display: flex;
}

div {
  color: white;
  text-align: center;
}

main {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
  z-index: 0;
}

// I wish I could get rid of this
.nav-holder {
  flex-basis: $nav-width;
  flex-grow: 1;
  // min-height: 39rem;
}

nav {
  z-index: 10;
  min-height: max-content;
  height: 100vh;

  flex-basis: $nav-width;
  width: $nav-width;

  position: fixed;

  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  section {
    display: flex;
    flex-direction: column;
    img {
      display: flex;
      width: $nav-width;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
    }
    .nav-link {
      cursor: pointer;
      outline: 0;
      text-decoration: none;

      border: none;

      width: 100%;
      text-align: center;
      transition: 0.3s ease-in;
      padding: 0.2rem 0;
      div {
        z-index: 10;
        height: $nav-width;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:not(.active):hover {
        background-color: transparent;
        transition: 0.3s ease-in;
        div {
          color: $red-ryb;
          transition: 0.3s ease-in;
        }
      }

      &.active {
        margin-left: $nav-width/2;
        transition: 0.3s ease-out;

        div {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transition: 0.3s ease-out;
          border-radius: $nav-width / 3;
          width: $nav-width;
          background-color: white;
          color: $red-ryb;
        }
      }

      .mat-icon {
        font-size: 23px;
        overflow: hidden;
      }
    }
  }
}
