<div>
  <h3>Application</h3>
  <mat-form-field appearance="outline">
    <mat-label>Application par Défaut</mat-label>
    <mat-select>
      <mat-option value="volvo">Courriel</mat-option>
      <mat-option value="saab">Search</mat-option>
      <mat-option value="mercedes">Chat</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <h3>Options de Courriel</h3>
  <mat-form-field appearance="outline">
    <mat-label>Page par Défaut</mat-label>
    <mat-select>
      <mat-option value="volvo">Tout</mat-option>
      <mat-option value="saab">Enregistrés</mat-option>
      <mat-option value="mercedes">Reçu</mat-option>
      <mat-option value="audi">Envoyés</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <h3>Options de recherche</h3>
  <mat-form-field appearance="outline">
    <mat-label>Filtre de Type Document</mat-label>
    <mat-select name="type">
      <mat-option value="Originale">Tout</mat-option>
      <mat-option value="Originale">Originale</mat-option>
      <mat-option value="Media">Media</mat-option>
      <mat-option value="Copie">Copie</mat-option>
      <mat-option value="Confidentiel">Confidentiel</mat-option>
      <mat-option value="Enveloppe">Enveloppe</mat-option>
      <mat-option value="Lecture">Lecture</mat-option>
      <mat-option value="signature">signature</mat-option>
      <mat-option value="Sortie">Sortie</mat-option>
    </mat-select>
  </mat-form-field>
</div>
