.mat-dialog-container{
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0 1em 0;
}
form{
  display: flex;
  flex-direction: column;

}
.two-columns{
  display: flex;
  justify-content: space-between;
}