:host {
  display: flex;
  // padding: 1rem;
  flex-direction: column;

  img {
    width: 100%;
  }

  ::ng-deep {
    .ng2-pdf-viewer-container {
      height: auto !important;
      // width: auto !important;
    }
  }
}
