<ng-container [ngSwitch]="file.viewer()">
  <div *ngSwitchCase="'image'">
    <img #img [src]="file.url()" alt="" />
  </div>
  <div *ngSwitchCase="'audio'">
    <audio #audio controls>
      <source [src]="file.url()" [type]="file.type" />
      Votre navigateur ne supporte pas l'élément audio.
    </audio>
  </div>
  <div #video *ngSwitchCase="'video'">
    <video width="100%" controls>
      <source [src]="file.url()" [type]="file.type" />
      Votre navigateur ne supporte pas l'élément video.
    </video>
  </div>
  <div *ngSwitchCase="'ngx-doc-viewer'">
    <object
      [data]="file.url()"
      type="application/pdf"
      style="width: 100%; height: clamp(800px, 90vh, 2048px)"
    >
      <a href="data/test.pdf">test.pdf</a>
    </object>
    <ngx-doc-viewer
      #doc
      [url]="file.url()"
      viewer="google"
      style="width: 100%; height: clamp(800px, 90vh, 2048px)"
    ></ngx-doc-viewer>
  </div>
</ng-container>
