@import "~src/_variables";
/*Reset*/
/* colors 8a3aff, 6f79ff, 3a9fff black-> 1f4568  grey->8198ae*/
/*menu header*/

a {
  color: inherit;
  text-decoration: inherit;

  background-color: $primary;
  border-radius: 20px;
  padding: 10px 25px;
  color: #fff;
  box-shadow: 0px 18px 13px -6px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  &:hover {
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0, 0.2);
    background-color: #63b2fc;
    color: #fff;
  }
}
:host {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #1f4568;

  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #1f4568;
  background-image: url("https://image.ibb.co/de6JzG/bitmap_1_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section {
  padding: 90px 0;
  position: relative;
}

.btn--revert {
  background-color: transparent;
  color: #8198ae;
  box-shadow: none;
  border: 1px solid #c9d9e9;
  &:hover {
    background-color: transparent;
    color: #1f4568;
    box-shadow: none;
    border: 1px solid #8198ae;
  }
}

.btn--white {
  background-color: #fff;
  border: 1px solid #ededed;
  color: #8198ae;
  &:hover {
    background-color: #fff;
    color: #8198ae;
  }
}

.site {
  text-align: center;
  h1 {
    font-size: 30px;
    margin: 0;
  }
  h2 {
    font-size: 22px;
    color: #8198ae;
    margin: 15px 0 40px 0;
    text-align: center;
  }
  img {
    margin-top: 50px;
    display: inline-block;
    width: 77%;
  }
  .site__box-link {
    .btn--revert {
      margin-left: 15px;
    }
  }
}

h1 {
  font-size: 18px;
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}
.header__light {
  color: #8198ae;
}
