<app-header></app-header>
<section>
  <div class="site">
    <h1>MEF COURRIEL</h1>
    <h2 class="site__subtitle">
      L'outil de communication au sein du Ministère de l'Économie et des
      Finances. Un pas vers la dématérialisation.
    </h2>
    <div class="site__box-link">
      <a routerLink="/auth/signup">S'inscrire</a>
      <a routerLink="/auth/login" class="btn--revert" routerLink="/auth/login"
        >Se connecter</a
      >
    </div>
    <img class="site__img" src="https://image.ibb.co/c7grYb/image3015.png" />
  </div>
</section>
