:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  flex-grow: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo img {
    // margin-top: 220px;
    margin-bottom: 4rem;
    max-width: clamp(15rem, 30vw, 20rem);
  }

  #searchbar {
    width: clamp(20rem, 60vw, 40rem);
    height: 45px;
    border-radius: 100px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    display: flex;
    > input {
      height: 45px;
      border-style: none;
      font-size: 16px;
      line-height: 45px;
      padding-left: 20px;
      flex-basis: 450px;
      flex: 2;
    }
    &:hover {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    #searchbarbutton {
      height: 45px;
      width: 55px;
      position: relative;
      margin-right: -2px;
      background-color: white;
    }

    #searchbarbutton svg {
      height: 25px;
      width: 35px;
      position: relative;
      left: -3px;
    }

    #searchbarbutton svg path {
      fill: #4285f4;
    }

    button {
      border: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }

  input:focus {
    outline: none;
  }
}

h4 {
  flex-grow: 1;
}
