@import "~src/_variables";

$white: hsl(0, 0%, 100%);
$avatar-size: 2.5rem;
$border-radius: 0.5rem;

:host {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: stretch;
}
.sidebar {
  // sidebar flex
  padding-right: 0.5rem;
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 1rem;

  .chat-info {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
    background-color: $grey;

    .info-avatar {
      display: flex;
      min-width: 5rem;
      height: 5rem;
      border-radius: 2.5rem;
    }
  }

  .users {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
    .user {
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 1rem;
      gap: 0.5rem;
      .name {
        flex: 1;
      }
      &.active {
        background-color: $grey;
      }
      &:hover {
        background-color: $grey;
      }
    }
  }
}

.avatar {
  display: flex;
  min-width: $avatar-size;
  height: $avatar-size;
  border-radius: 1.5rem;
}

.conversation {
  min-height: 30rem;
  height: calc(100vh - 1rem);
  // is this how we do sidebar? Shout out to https://every-layout.dev/layouts/sidebar/
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;

  background-color: $grey;
  border-radius: 1rem;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    .user-info {
      flex: 1 1 auto;
    }
  }
  .messages {
    padding: 1rem;
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;

    display: flex;

    flex-direction: column-reverse;
    .message-container {
      .message {
        height: fit-content;
        display: flex;
        gap: 0.5rem;
        justify-content: start;
        align-items: center;
        .content {
          border-radius: 0.5rem;
          padding: 0.5rem;
          color: hsl(224, 39%, 17%);
          background-color: $white;
        }
      }
      .time {
        margin: 0 3.5rem;
      }
      &.sent {
        .message {
          flex-direction: row-reverse;
          .content {
            color: $white;
            background-color: $primary;
          }
        }

        .time {
          display: flex;
          flex-direction: row-reverse;
        }
      }
    }
  }

  .write-message {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color: $white;
    mat-form-field {
      flex-basis: 0;
      flex-grow: 999;
      min-width: 50%;
      margin-bottom: -1.34375em;
    }

    button {
      flex-basis: 7rem;
      flex-grow: 1;
    }
  }
}
