<nav>
  <section>
    <div>
      <img id="searchbarimage" src="/assets/flag.png" />
    </div>
    <span class="nav-link" routerLink="/app/flow" routerLinkActive="active">
      <div matTooltip="Courriers" matTooltipPosition="right">
        <mat-icon>inbox</mat-icon>
      </div>
    </span>

    <span class="nav-link" routerLink="/app/users" routerLinkActive="active">
      <div>
        <mat-icon>people_outline</mat-icon>
      </div>
    </span>
    <span class="nav-link" routerLink="/app/entities" routerLinkActive="active">
      <div>
        <mat-icon>domain</mat-icon>
      </div>
    </span>
    <span
      class="nav-link"
      routerLink="/app/dashboard"
      routerLinkActive="active"
    >
      <div>
        <mat-icon>bar_chart</mat-icon>
      </div>
    </span>
  </section>

  <section>
    <span>
      <div>
        <mat-icon>info_outline</mat-icon>
      </div>
    </span>
    <span class="nav-link" routerLink="/app/chat" routerLinkActive="active">
      <div>
        <mat-icon>chat_bubble_outline</mat-icon>
      </div> </span
    ><span class="nav-link" routerLink="/app/user" routerLinkActive="active">
      <div>
        <mat-icon>account_circle_outline</mat-icon>
      </div>
    </span>
    <span class="nav-link" routerLink="/app/settings" routerLinkActive="active">
      <div>
        <mat-icon>settings_outlined</mat-icon>
      </div>
    </span>
  </section>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
