<nav>
  <section>
    <div>
      <img id="searchbarimage" src="/assets/flag.png" />
    </div>
    <span class="nav-link" routerLink="/app/flow" routerLinkActive="active">
      <div matTooltip="Courriers" matTooltipPosition="right">
        <mat-icon>inbox</mat-icon>
      </div>
    </span>

    <span  class="nav-link" routerLink="/app/users" routerLinkActive="active">
      <div>
        <mat-icon>people_outline</mat-icon>
      </div>
    </span>
    <span  class="nav-link" routerLink="/app/entities" routerLinkActive="active">
      <div >
        <mat-icon>home_work</mat-icon>
      </div>
    </span>
    <span  class="nav-link" routerLink="/app/dashboard" routerLinkActive="active">
      <div>
        <mat-icon>bar_chart</mat-icon>
      </div>
    </span>
    <!-- <span>
      <div >
        <mat-icon></mat-icon>
      </div>
    </span>
    <span>
      <div >
        <mat-icon></mat-icon>
      </div>
    </span> -->
  </section>

  <section>
    <span>
      <div>
        <mat-icon>help</mat-icon>
      </div> </span
    ><span>
      <div>
        <mat-icon>chat</mat-icon>
      </div> </span
    ><span>
      <div>
        <mat-icon>person</mat-icon>
      </div>
    </span>
    <span>
      <div>
        <mat-icon>settings_outline</mat-icon>
      </div>
    </span>
  </section>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
