:host {
  border-bottom: 1px solid #bbb;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  // flex-wrap: wrap;
  .headers {
    .reference {
      border-bottom: 1px solid rgba(195, 0, 255, 0.8);
      width: clamp(min-content, auto, max-content);
    }
  }

  .content {
    flex: 1 1 auto;
    flex-direction: column;
    .title {
      outline: 0;
      font-weight: bold;
      cursor: pointer;
    }
    .observation {
      font-weight: 300;
    }
  }

  .content,
  .info,
  .actions {
    display: flex;
    justify-content: center;
  }

  .info {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: fit-content;

    .date {
      flex-basis: content;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    // position: absolute;
    right: 0;
    // padding-right: 1rem;
  }

  &:hover {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
      0 1px 5px 0 rgb(0 0 0 / 12%);
    transition: ease-out 0.2s;
    background-color: rgb(247, 247, 247);
  }
}
