.flow-list {
  display: flex;
  flex-direction: column;

  flow {
    transition: ease-out 0.2s;
    color: #222;

    // &:hover {
    //   border-radius: 0.5rem;
    //   background-color: $grey;
    // }

    &:hover {
      box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%);
      z-index: 2;
    }

    &.read {
      background-color: $little-grey;
      color: #555;
      border-bottom: 1px #eee solid;

      ::ng-deep .content .title {
        font-weight: normal;
      }
    }

    &.unread {
    }
  }
}
