
.wrapper{
  max-width: 900px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0 1em 0;
}

form{
  padding: 0 3em 2em 1em ;
  display: flex;
  flex-direction: column;

}

.columns .mat-form-field, file-upload-button{
  margin-right: 10px;
}
