<header class="header">
  <mat-form-field appearance="outline">
    <mat-label>Rechercher</mat-label>
    <input name="message" matInput />
    <button mat-button matSuffix mat-icon-button aria-label="send">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <a mat-button color="primary" [routerLink]="Link.ENTITIES_ADD">
    <mat-icon>add</mat-icon> Ajouter
  </a>
</header>

<div class="entities">
  <entity
    *ngFor="let entity of entityService.allEntities$ | async"
    [entity]="entity"
  ></entity>
</div>
