:host {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .entities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    entity {
      // flex-basis: fit-content;
      flex: 1 1 auto;
    }
  }
}
