@import "~src/_variables";

pdf-viewer {
  width: 100%;
  display: block;
  position: relative;
}

::ng-deep {
  .ng2-pdf-viewer-container {
    height: auto !important;
    width: 100% !important;
    // position: relative !important;
    .page {
      border: 1px dashed grey;
    }
  }
}

:host {
  display: block;
  width: 100%;
  background-color: $grey;
}

.actions {
  display: flex;
  gap: 1rem;
  margin: auto;
}

.drop {
  margin: auto;
  .drag {
    z-index: 10;
    display: inline-block;
  }

  .signature {
    .handle {
      width: 24px;
      height: 24px;
      position: absolute;
      cursor: move;
    }
  }
}
