<div class="actions" [style.width.px]="pageWidth">
  <button mat-raised-button color="primary">Signer</button>
  <button mat-raised-button color="primary">Tamponner</button>
  <button mat-raised-button color="primary" (click)="download()">
    Enregistrer
  </button>
</div>

<!-- documentHeight + 40 :  -->
<div
  class="drop"
  [style.height.px]="documentHeight"
  [style.width.px]="pageWidth"
>
  <pdf-viewer
    (page-rendered)="rendered()"
    [src]="pdfLink"
    [render-text]="true"
    style="width: 100%"
  >
  </pdf-viewer>

  <div
    class="drag signature"
    cdkDragBoundary=".drop"
    cdkDrag
    [cdkDragFreeDragPosition]="signaturePadPosition"
  >
    <div class="handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
        ></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <signature-pad></signature-pad>
  </div>

  <img src="" class="png drag" cdkDrag alt="" />
</div>
