<main class="main">
  <div class="wrapper">
    <div class="card">
      <div class="title">
        <div class="logo"></div>
        <h1 class="title title-large">Inscription</h1>
      </div>
      <form class="form">
        <div class="form-group">
          <input
            type="name"
            name="name"
            id="name"
            class="input-field"
            placeholder="Nom"
          />
        </div>
        <div class="form-group">
          <input
            type="im"
            name="im"
            id="im"
            class="input-field"
            placeholder="IM"
          />
        </div>
        <div class="form-group">
          <input
            type="fonction"
            name="fonction"
            id="fonction"
            class="input-field"
            placeholder="Fonction - Ex: Chef de Service"
          />
        </div>
        <div class="form-group">
          <input
            type="enitity"
            name="enitity"
            id="enitity"
            class="input-field"
            placeholder="Département - Ex: DSSA"
          />
        </div>

        <hr style="margin-bottom: 1rem" />

        <div class="form-group">
          <input
            type="email"
            name="email"
            id="email"
            class="input-field"
            placeholder="Email"
          />
        </div>

        <div class="form-group">
          <input
            type="text"
            name="username"
            id="username"
            class="input-field"
            placeholder="Nom d'utilisateur"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            name="password"
            id="password"
            class="input-field"
            placeholder="Mot de passe"
          />
        </div>
        <div class="form-group">
          <button
            routerLink="/login"
            type="button"
            name="submit"
            class="input-submit"
          >
            S'inscrire
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
