main {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
      margin: 5em 0 5em 0;
      width: 450px;
      .header {
      
        img{
          width: 350px;
        }  display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      form {
        display: flex;
        flex-direction: column;
        .two-columns {
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
}
