main {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
      .logo {
        width: 100%;
        height: 200px;
        margin-bottom: 50px;
        background: url("/assets/flag.png") no-repeat 50% 50%;
      }
      form {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
