$color-white: #ffffff;
$color-black: #252a32;
$color-light: #f1f5f8;
$color-red: #d32f2f;
$color-blue: #148cb8;

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}


.logo{
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
    background:  url('/assets/flag.png')  no-repeat 50% 50%;
}

a,
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	text-decoration: none;
}



.wrapper {
	max-width: 28rem;
	width: 100%;
	margin: 0 auto;
	padding: 2rem 1.5rem;
}

.card {
	padding: 1.5rem 2rem;
	border: none;
	outline: none;
	border-radius: 4px;
	color: $color-black;
	background: $color-white;
	box-shadow: $box-shadow;
}

.linktext {
	font-family: inherit;
	font-size: 0.95rem;
	line-height: inherit;
	color: $color-blue;
	text-rendering: optimizeLegibility;

	&:hover {
		text-decoration: underline;
	}
}

.title {
	font-family: inherit;
	line-height: inherit;
	text-rendering: optimizeLegibility;

	&-large {
		font-size: 2rem;
		font-weight: 600;
		color: $color-black;
	}

	&-subs {
		font-size: 0.95rem;
		font-weight: 400;
		line-height: inherit;
	}
}

// Main
.form {
    width: 100%;
    height: auto;
    margin: 2rem 0;

    &-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        .input-field {
            font-family: inherit;
            font-size: 0.95rem;
            font-weight: 400;
            line-height: inherit;
            width: 100%;
            height: auto;
            padding: 0.75rem 1.25rem;
            border: none;
            outline: none;
            border-radius: 2rem;
            color: $color-black;
            background: $color-light;
        }

        .input-submit {
            font-family: inherit;
            font-size: 0.95rem;
            font-weight: 500;
            line-height: inherit;
            cursor: pointer;
            padding: 0.65rem 2rem;
            border: none;
            outline: none;
            border-radius: 2rem;
            text-align: center;
            color: $color-white;
            background: $color-blue;
        }
    }
}

