
$white: #D9ECF2;
$pink: #F56A79;
$red: #FF414D;
$turqoise: #1AA6B7;
$black: #002D40;
	
.profile-card {
	transform: translate(-50%, -50%);
	margin-top: 14rem;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 0.025em;
	text-align: center;
	color: $black;
	
	
	.pic {
		
		background-image: url('https://randomuser.me/api/portraits/women/68.jpg'), linear-gradient(135deg, rgba($turqoise, 0.1), rgba($red, 0.2));
		background-position: center;
		background-size: cover;
		background-blend-mode: overlay;
		
		position: absolute;
		left: 50%;
		
		width: 8rem;
		height: 8rem;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		margin-top: -2rem;
		z-index: 2;
		
		box-shadow:
			0 1rem 1.5rem -1rem rgba($black, 0.2),
			0 0 0.5rem 0 rgba($black, 0.2),
			0 0rem 4rem 0 rgba(black, 0.2);
	}
	
	.profile {
		position: relative;
		background: white;
		border-radius: 1rem;
		padding: 1rem;
		box-sizing: border-box;
		transition: transform 500ms ease-in-out;
		
		box-shadow:
			0 2rem 4rem -3rem rgba($black, 0.5),
			0 0rem 8rem 0 rgba($black, 0.1);
	}
	
	.above-fold {
		padding-top: 3rem;
		
		.name {
			font-size: 1.5rem;
			font-weight: 500;
			margin-bottom: 0.4rem;
		}
		
		.role {
			font-size: 1.2rem;
			color: $turqoise;
			font-weight: 400;
			margin-bottom: 0.8rem;
		}
		
		.location {
			font-size: 1em;
			font-weight: 200;
			margin-bottom: 0.5rem;
			opacity: 0.6;
			
			i {
				margin-right: 0.5rem;
			}
		}
	}
	
	
}

.row {
	display: flex;
	justify-content: center;
}



@keyframes  bounce {
	0%, 60%, 100% {
		transform: translatey(0);
	}
	
	80% {
		transform: translatey(-8px);
	}
	
	90% {
		transform: translatey(8px);
	}
}