<mat-card>
  <mat-card-header fxLayoutAlign="center">
    <div
      mat-card-avatar
      class="avatar"
      style="background-size: cover"
      [style.background-image]="
        'url(https://randomuser.me/api/portraits/med/women/' + user.id + '.jpg)'
      "
    ></div>
    <mat-card-title>
      {{ user.firstname }}
      {{ user.lastname }}
    </mat-card-title>
    <mat-card-subtitle>{{ user.title }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="entity" fxFlex fxLayoutGap="1rem" fxLayoutAlign="center center">
      <mat-icon>domain</mat-icon> <span>{{ user.entity.short_header }}</span>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="center">
    <button mat-icon-button color="primary">
      <mat-icon>mail_outline</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon>chat_bubble_outlined</mat-icon>
    </button>
    <!-- <button *ngIf="!user.verified" mat-icon-button (click)="verify()"> -->
    <button mat-icon-button (click)="verify()">
      <mat-icon color="primary">check_circle_outline</mat-icon>
    </button>
    <button mat-icon-button (click)="delete()">
      <mat-icon color="warn">delete_outline</mat-icon>
    </button>
    <button mat-icon-button (click)="transfer()">
      <mat-icon color="warn">domain</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
