<nav>
  <section>
    <a class="nav-link" [routerLink]="Link.APPS_ROOT" routerLinkActive="active">
      <div matTooltip="Boite de Réception" matTooltipPosition="right">
        <mat-icon>apps</mat-icon>
      </div>
    </a>

    <a
      class="nav-link"
      [routerLink]="Link.USERS"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <div matTooltipPosition="right">
        <mat-icon>people</mat-icon>
      </div>
    </a>

    <a
      class="nav-link"
      [routerLink]="Link.USERS_UNVERIFIED"
      routerLinkActive="active"
    >
      <div>
        <mat-icon>how_to_reg</mat-icon>
      </div>
    </a>

    <a
      class="nav-link"
      [routerLink]="Link.USERS_INACTIVE"
      routerLinkActive="active"
    >
      <div>
        <mat-icon>person_off</mat-icon>
      </div>
    </a>

    <!-- entities -->
    <a
      class="nav-link"
      [routerLink]="Link.ENTITIES"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
    >
      <div>
        <mat-icon>domain</mat-icon>
      </div>
    </a>
    <a
      class="nav-link"
      [routerLink]="Link.ENTITIES_ADD"
      routerLinkActive="active"
    >
      <div>
        <mat-icon>playlist_add</mat-icon>
      </div>
    </a>
    <a
      class="nav-link"
      [routerLink]="Link.ENTITIES"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
    >
      <div>
        <mat-icon>domain_disabled</mat-icon>
      </div>
    </a>
  </section>
</nav>
<div class="nav-holder"></div>

<main>
  <router-outlet></router-outlet>
</main>
