<main class="main">
    <div class="wrapper">
      <div class="card">
        <div class="title">
          <div class="logo"></div>
          <h1 class="title title-large">Réinitialiser mon mot de passe</h1>
        </div>
        <form class="form">
          <div class="form-group">
            <input readonly
              type="email"
              name="email"
              value="username"
              id="email"
              class="input-field"
              placeholder="Email / Nom d'utilisateur"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              id="password"
              class="input-field"
              placeholder="Nouveau mot de passe"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="confirm"
              id="confirm"
              class="input-field"
              placeholder="Confirmez votre mot de passe"
            />
          </div>
          <div class="form-group">
            <button routerLink="" class="input-submit">Réinitialiser</button>
          </div>
        </form>
      </div>
    </div>
  </main>
  