@import "~src/_variables";

:host {
  display: flex;
  flex-direction: column;

  main {
    padding: 1rem;

    .header-actions {
      display: flex;
      color: #666;
    }

    .flow,
    article {
      padding-left: 2rem;
    }
  }
}

// files

.files {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  .file {
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    img {
      width: 2rem;
      height: auto;
    }
  }
}
