<main>
  <div class="header-actions">
    <span class="start">
      <back></back>
    </span>
    <span class="end" *ngIf="app_page">
      <button mat-icon-button><mat-icon>send</mat-icon></button>
      <button mat-icon-button><mat-icon>mark_email_read</mat-icon></button>
      <button mat-icon-button><mat-icon>info_outline</mat-icon></button>
      <button mat-icon-button><mat-icon>alt_route</mat-icon></button>
      <button mat-icon-button><mat-icon>person_add</mat-icon></button>
      <button mat-icon-button><mat-icon>reply</mat-icon></button>
      <button mat-icon-button><mat-icon>mark_email_read</mat-icon></button>
      <button mat-icon-button><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="delete(flow.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </span>
  </div>
  <section class="flow">
    <div class="mat-caption" style="color: #444; margin-bottom: 1em">
      <b class="flow-header-entity">{{ flow.sender() }}</b> à
      <b class="flow-header-entity">{{ flow.owner.short }}</b>
      (Réf: {{ flow.reference }})
    </div>
  </section>
  <article>
    <h1 style="font-weight: 300; margin-bottom: 1rem" class="mat-display-1">
      {{ flow.title }}
    </h1>
  </article>

  <mat-chip-list aria-label="File list">
    <mat-chip (click)="viewFile(file)" *ngFor="let file of flow.files">{{
      file.name
    }}</mat-chip>
  </mat-chip-list>

  <!-- <flow-list></flow-list> -->
</main>
<flow-loading *ngIf="loading"></flow-loading>
<viewer [file]="activeFile"></viewer>
