@import "~src/_variables";

:host {
  display: flex;
  flex-direction: column;

  main {
    padding: 1rem;

    .header-actions {
      display: flex;
      color: #666;
    }

    .flow,
    article {
      padding-left: 2rem;
    }
  }
}
