<main *ngIf="flow$ | async as flow; else loading">
  <div class="header-actions">
    <span class="start">
      <back></back>
    </span>

    <span class="end" *ngIf="app_page">
      <button mat-icon-button><mat-icon>send</mat-icon></button>
      <button mat-icon-button><mat-icon>mark_email_read</mat-icon></button>
      <button mat-icon-button><mat-icon>info_outline</mat-icon></button>
      <button mat-icon-button><mat-icon>alt_route</mat-icon></button>
      <button mat-icon-button><mat-icon>person_add</mat-icon></button>
      <button mat-icon-button><mat-icon>reply</mat-icon></button>
      <button mat-icon-button><mat-icon>mark_email_read</mat-icon></button>
      <button mat-icon-button><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="delete(flow.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </span>
  </div>
  <section class="flow">
    <div class="mat-caption" style="color: #444; margin-bottom: 1em">
      <b class="flow-header-entity">{{ flow.sender() }}</b> à
      <b class="flow-header-entity">{{ flow.receiver() }}</b>
      (Réf: {{ flow.r.reference() }})
    </div>
  </section>
  <article>
    <h1 style="font-weight: 300; margin-bottom: 1rem" class="mat-display-1">
      {{ flow.r.title() }}
    </h1>
  </article>

  <div aria-label="File list" class="files">
    <div *ngFor="let file of flow.files" class="file">
      <img [src]="file.iconUrl()" alt="" />
      <span class="file-name">{{ file.name }}</span>
      <button mat-icon-button (click)="viewFile(file)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button><mat-icon>download</mat-icon></button>
    </div>
  </div>
  <!-- <flow-list></flow-list> -->
  <viewer *ngIf="activeFile" [file]="activeFile"></viewer>
</main>

<ng-template #loading>
  <flow-loading></flow-loading>
</ng-template>
