@import "~src/_variables";
:host {
  canvas {
    border: 1px dotted grey;
  }
  .actions {
    position: absolute;
    bottom: 0;
    transition: all ease-in-out 0.5s;
    opacity: 0;
  }

  &:hover {
    .actions {
      display: block;
      opacity: 1;
    }
  }
}
