<header id="header">
  <div id="topbar">
    <button mat-icon-button (click)="toggleSidenav$$.next()">
      <mat-icon>menu</mat-icon>
    </button>
    <img
      style="outline: 0"
      [routerLink]="Link.SEARCH_APP"
      id="searchbarimage"
      src="/assets/flag.png"
    />
    <form
      id="searchbar"
      (submit)="
        router.navigate([Link.SEARCH_APP], {
          queryParams: { q: query.value },
          queryParamsHandling: 'merge'
        })
      "
      *ngIf="searchKeys$ | async"
    >
      <input
        id="searchbartext"
        type="text"
        #query
        name="q"
        [value]="(query$ | async) || ''"
      />

      <button id="searchbarbutton">
        <svg
          focusable="false"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
          ></path>
        </svg>
      </button>
    </form>
    <div class="actions" style="padding: 1rem">
      <a mat-icon-button [routerLink]="Link.SEARCH_SAVE">
        <mat-icon>save</mat-icon>
      </a>
      <a mat-icon-button [routerLink]="Link.FLOWS_INBOX">
        <mat-icon>apps</mat-icon>
      </a>
      <a routerLink="" mat-icon-button>
        <mat-icon>home_outline</mat-icon>
      </a>
      <a mat-icon-button [routerLink]="Link.USER" aria-label="compte">
        <mat-icon>account_circle</mat-icon>
      </a>
      <button
        (click)="userService.logout()"
        mat-icon-button
        aria-label="compte"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
  <div id="optionsbar" *ngIf="searchKeys$ | async" fxLayout="row">
    <mat-form-field class="options" appearance="fill">
      <mat-label>Résultats </mat-label>
      <mat-select value="Tout">
        <mat-option selected value="Tout">Tout</mat-option>
        <mat-option value="Lettre">Lettre</mat-option>
        <mat-option value="Signature">Signature</mat-option>
        <mat-option value="Lecture">Lecture</mat-option>
        <mat-option value="Images">Images</mat-option>
        <mat-option value="Vidéos">Vidéos</mat-option>
      </mat-select>
    </mat-form-field>
    <div style="padding: 0.5rem">
      <a mat-button [routerLink]="Link.SEARCH_APP">
        <mat-icon>refresh</mat-icon> Réinitialiser
      </a>
    </div>
  </div>
</header>
