<section class="actions" fxLayoutAlign="space-between center ">
  <div>
    <button mat-raised-button color="primary" routerLink="/app/flow/save">
      <mat-icon> add </mat-icon>
      Enregistrer
    </button>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Resultats</mat-label>
      <mat-select [(value)]="flowGroup">
        <mat-option value="0">Tout</mat-option>
        <mat-option value="1">Enregistrés</mat-option>
        <mat-option value="2">Recu</mat-option>
        <mat-option value="3">Envoyés</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</section>

<flow-list></flow-list>

<router-outlet></router-outlet>
