<section class="actions">
  <button mat-raised-button color="primary" (click)="openSaveDialog()">
    <mat-icon> add </mat-icon>
    Enregistrer
  </button>
  <button mat-raised-button color="primary" (click)="openComposeDialog()">
    <mat-icon> create </mat-icon>
    Ecrire
  </button>
</section>
<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    routerLink="/app/flow/all"
    routerLinkActive
    #RouterLinkActive="routerLinkActive"
    [active]="RouterLinkActive.isActive"
  >
    <mat-icon class="example-tab-icon">topic</mat-icon>
    Tout</a
  >
  <a
    mat-tab-link
    routerLink="/app/flow/saved"
    routerLinkActive
    #RouterLinkActive1="routerLinkActive"
    [active]="RouterLinkActive1.isActive"
  >
    <mat-icon class="example-tab-icon">mail</mat-icon>
    Enregistrés</a
  >
  <a
    mat-tab-link
    routerLink="/app/flow/received"
    routerLinkActive
    #RouterLinkActive2="routerLinkActive"
    [active]="RouterLinkActive2.isActive"
  >
    <mat-icon class="example-tab-icon">inbox</mat-icon>
    Reçu</a
  >
  <a
    mat-tab-link
    routerLink="/app/flow/sent"
    routerLinkActive
    #RouterLinkActive3="routerLinkActive"
    [active]="RouterLinkActive3.isActive"
  >
    <mat-icon class="example-tab-icon">send</mat-icon>
    Envoyés</a
  >
</nav>

<router-outlet></router-outlet>
