<section class="actions" fxLayoutAlign="space-between center ">
  <div>
    <button mat-raised-button color="primary" routerLink="/app/flow/save">
      <mat-icon> add </mat-icon>
      Enregistrer
    </button>
  </div>
  <div class="filters">
    <mat-form-field appearance="outline">
      <mat-label>Rechercher</mat-label>
      <input name="message" matInput />
      <button mat-button matSuffix mat-icon-button aria-label="send">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <button
      mat-icon-button
      [matMenuTriggerFor]="mainFilters"
      aria-label="main filters"
    >
      <mat-icon>view_list</mat-icon>
    </button>
    <mat-menu #mainFilters="matMenu">
      <button mat-menu-item>
        <mat-icon>reorder</mat-icon>
        <span>Tout</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>inbox</mat-icon>
        <span>Recu</span>
      </button>
      <button mat-menu-item>
        <mat-icon>send</mat-icon>
        <span>Envoyés</span>
      </button>
    </mat-menu>
  </div>
</section>

<flow-list></flow-list>

<!-- loading -->
<!-- <empty-flow></empty-flow> -->
<!-- <search-flow-list></search-flow-list> -->

<mat-paginator [showFirstLastButtons]="true"> </mat-paginator>
<router-outlet></router-outlet>
