<section class="actions">
  <div>
    <button mat-raised-button color="primary" routerLink="/courriel/flow/save">
      <mat-icon> add </mat-icon>
      Enregistrer
    </button>
  </div>
  <div class="filters"></div>
  <div class="toggles"></div>
</section>

<section #recentFlows *ngIf="allFlows$ | async as flows; else loading">
  <div
    class="empty"
    *ngIf="!flows.length"
    style="max-width: 100vw; max-height: 80vh; margin: auto"
  >
    <img
      style="max-height: 85vh"
      src="/assets/app-images/empty-animate.svg"
      alt=""
    />
  </div>

  <div *ngIf="flows.length" class="flow-list">
    <flow
      class="mat-typography"
      *ngFor="let flow of flows"
      [flow]="flow"
    ></flow>
  </div>

  <mat-paginator *ngIf="flows.length" [showFirstLastButtons]="true">
  </mat-paginator>
</section>
<ng-template #loading>
  <flows-loading></flows-loading>
</ng-template>

<!--
<div *ngIf="(flowService.recent_flows | async)?.length" class="flow-list">
  <flow
    class="mat-typography"
    *ngFor="let flow of flowService.recent_flows | async"
    [flow]="flow"
  ></flow>
</div>

<search-flow-list></search-flow-list> -->
<router-outlet></router-outlet>
