<section class="actions">
  <button mat-raised-button color="primary" [routerLink]="Link.FLOW_SAVE">
    <mat-icon> description </mat-icon>
    Enregistrer
  </button>
  <a mat-button color="primary" [routerLink]="Link.SEARCH_APP">
    <mat-icon> search </mat-icon>
    Rechercher
  </a>
</section>

<nav mat-tab-nav-bar backgroundColor="primary">
  <a mat-tab-link>Principale</a>
  <a mat-tab-link>Assigné</a>
  <a mat-tab-link>Lecture</a>
  <a mat-tab-link>Signature</a>
</nav>

<section #recentFlows *ngIf="inboxFlows$ | async as flows; else loading">
  <div
    class="empty"
    *ngIf="!flows.length"
    style="max-width: 100vw; max-height: 80vh; margin: auto"
  >
    <img
      style="max-height: 85vh"
      src="/assets/app-images/empty-animate.svg"
      alt=""
    />
  </div>

  <div *ngIf="flows.length" class="flow-list">
    <flow
      class="mat-typography"
      layout="inbox"
      *ngFor="let flow of flows"
      [flow]="flow"
    ></flow>
  </div>

  <mat-paginator *ngIf="flows.length" [showFirstLastButtons]="true">
  </mat-paginator>
</section>
<ng-template #loading>
  <flows-loading></flows-loading>
</ng-template>

<!--
<div *ngIf="(flowService.recent_flows | async)?.length" class="flow-list">
  <flow
    class="mat-typography"
    *ngFor="let flow of flowService.recent_flows | async"
    [flow]="flow"
  ></flow>
</div>

<search-flow-list></search-flow-list> -->
<router-outlet></router-outlet>
