<header class="header" fxLayoutAlign="space-between center">
  <div
    class="header__logo"
    fxLayoutAlign="center center"
    style="cursor: pointer; outline: none"
    routerLink="/"
  >
    <img class="header__img" style="width: 4rem" src="/assets/flag.png" />
    <h1 class="header__title" style="margin: 0" fxLayoutAlign="center center">
      RECHERCHE <span class="header__light">MEF</span>
    </h1>
  </div>

  <div class="header__menu">
    <nav id="navbar" class="header__nav collapse">
      <ul>
        <!-- <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Pricing</a>
          </li>
          <li>
            <a href="#">Success stories</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#">Contact us</a>
          </li> -->
        <li *ngIf="!(userService.loggedIn$ | async)">
          <a routerLink="/auth/login" class="btn--white">Se connecter →</a>
        </li>
        <li *ngIf="userService.loggedIn$ | async">
          <a routerLink="/app/flow" style="margin-left: 1rem" class="btn--white"
            >Enregistrement</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
