@import "~@angular/material/theming";
@include mat-core();

$primary: mat-color($mat-indigo, A400);
$red-ryb: mat-color($mat-pink, A200);
$accent: mat-color($mat-pink, A200);
$nav-width: 2.8rem;
$grey: hsl(218, 50%, 97%);
// $grey: hsl(218, 50%, 97%);
